body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0px;
    padding: 0px;
    align-items: center;
}

button {
    color: white;
    background-color: #3882F6;
    border: 2px solid black;
    border-radius: 8px;
    font-size: 24px;
    font-weight: 900;
    padding: 16px 48px;
    margin: 24px;
}

.sketch-board {
    display: flex;
    flex: 1;
    justify-content: center;
    flex-shrink: 0;
}

.grid-container {
    display: flex;
    flex-basis: 800px;
    min-height: 800px;
    flex-wrap: wrap;
    align-content: flex-start;
    flex-grow: 0;
    flex-shrink: 0;
}

.grid-container > .square {
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
}
